exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom("stats", "formula", "median", "model.matrix", "predict",
           "qnorm", "quantile", "setNames", "vcov")
importFrom("utils", "capture.output")
